<div class="row content">
    <h1>About this Application</h1>

    <div class="col-md-12 main-content">
        <p>This application contains a Data table which is implemented with the help of:</p>
        <ul>
            <li><a href="https://angularjs.org/" target="_blank">AngularJs</a></li>
            <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
            <li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">Bootstrap-ui</a></li>
            <li><a href="https://github.com/yeoman/generator-angular" target="_blank">Yeoman & yo angular generator</a></li>
        </ul>

        <h3>Table Features</h3>
        <ul>
            <li><strong>Filtering</strong> (by 1 or multiple columns). Most filters are text values that you can enter in the header of the column. In order to filter by date range, you will use a modal window containing 2 Date-picker widgets from Bootstrap-ui.</li>
            <li><strong>Sorting</strong> (by 1 column). Clicking on the header title is triggering the sorting (asc/desc). The table entries are initially sorted by date - descending.</li>
            <li><strong>Pagination</strong>, using the Pagination widget from Bootstrap-ui.</li>
            <li>The full message texts can be viewed by clicking on a cell. This is opening a Popover widget from Bootstrap-ui. In order to close it, click again on the cell.</li>
        </ul>

        <h3>Prerequisites</h3>
        <p>In order to build this application you should have installed on your machine the following:</p>
        <ul>
            <li><a href="http://git-scm.com/book/en/v2/Getting-Started-Installing-Git" target="_blank">Git</a></li>
            <li><a href="https://nodejs.org/download/" target="_blank">NodeJs and NPM</a></li>
            <li><a href="http://gruntjs.com/getting-started" target="_blank">Grunt</a></li>
            <li><a href="http://bower.io/" target="_blank">Bower</a></li>
        </ul>

        <h3>Build & development</h3>
        <p>Run the following commands in your terminal:</p>

        <ol>
            <li><em>git clone https://github.com/fchesaru/angularTableDemo.git</em></li>
            <li><em>cd angularTableDemo</em></li>
            <li><em>npm install</em></li>
            <li><em>bower install</em></li>
            <li><em>grunt</em> for building</li>
            <li><em>grunt serve</em> for preview. A new browser tab will open automatically.</li>
        </ol>

        <h3>Testing</h3>
        <p>Running <em>grunt test</em> will run the unit tests with karma.</p>

    </div>
</div>
